CONFIG_ARCH_S5L87XX=y
CONFIG_CPU_S5L8702=y
# CONFIG_ARCH_MULTI_V7 is not set
CONFIG_AEABI=y
CONFIG_OABI_COMPAT=n
CONFIG_CMDLINE="console=ttySAC0,57600 earlycon=s5l,mmio32,0x3cc00000"
CONFIG_CMDLINE_FORCE=y
CONFIG_EARLY_PRINTK=y
CONFIG_PRINTK_TIME=y
CONFIG_DEBUG_KERNEL=y
CONFIG_DEBUG_LL=y
CONFIG_DEBUG_S3C_UART0=y
CONFIG_ARM_APPENDED_DTB=y
CONFIG_S5L8720_TIMER=y
CONFIG_SERIAL_SAMSUNG=y
CONFIG_SERIAL_SAMSUNG_CONSOLE=y
CONFIG_USB_DWC2=y
CONFIG_USB_GADGET=y
CONFIG_USB_SNP_UDC_PLAT=y
CONFIG_USB_ETH=y
CONFIG_USB_ETH_RNDIS=n
CONFIG_USB_ETH_EEM=n
CONFIG_USB_ETH_ECM=y
CONFIG_NET=y
CONFIG_UNIX=y
CONFIG_PACKET=y
CONFIG_INET=y
CONFIG_IP_PNP=y
CONFIG_TMPFS=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_INITRAMFS_SOURCE="freemyipod/initramfs-n3g.cpio.gz"
CONFIG_REGMAP=y
CONFIG_REGMAP_MMIO=y
CONFIG_I2C=y
CONFIG_I2C_S5L8702=y
CONFIG_I2C_CHARDEV=y
CONFIG_SPI=y
CONFIG_SPI_S5L8702=y
CONFIG_MTD=y
CONFIG_MTD_BLOCK=y
CONFIG_MTD_SPI_NOR=y
CONFIG_SPI_SPIDEV=y
