# SPDX-License-Identifier: GPL-2.0

config ARCH_S5L87XX
	bool "Samsung/Apple S5L87XX"

if ARCH_S5L87XX

config CPU_S5L8702
	bool "Enable S5L8702 (iPod nano 3g) CPU support"
	select ARCH_MULTI_V5
	select ARM_VIC
	help
	  Enable support for the Samsung/Apple S5L8702 SoC (ARM926EJ-S),
	  as found in the iPod nano 3rd generation.

config CPU_S5L8740
	bool "Enable S5L8740 (iPod nano 7g) CPU support"
	select ARCH_MULTI_V7
	select ARM_VIC
	help
	  Enable support for the Samsung/Apple S5L8740 SoC (Cortex-A5),
	  as found in the iPod nano 7th generation.

endif
